<div class="b-review">
    <div class="b-review__header">
        <div class="b-review__button">
            <i class="b-review__icon b-review__icon_up icon chevron up"></i>
            <i class="b-review__icon b-review__icon_down icon chevron down"></i>
        </div>
        <div class="b-review__title">{{ review }}</div>
    </div>
    <div class="b-review__review">
        <div class="b-review__content">
            <div class="b-review__caption">Отзыв</div>
            <div class="b-typeset">
                {{ review.review }}
            </div>
        </div>
    </div>
</div>