<div class="b-review">
    <div class="b-review__header">
        <div class="b-review__button">
            <i class="b-review__icon icon chevron up"></i>
        </div>
        <div class="b-review__subheader">
            <div class="b-review__title">{{ review }}</div>
        </div>
    </div>
    <div class="b-review__body">
        <div class="b-review__content">
            <div class="b-review__caption">Отзыв</div>
            <div class="b-typeset">
                {{ review.review }}
            </div>
        </div>
    </div>
</div>
