{% extends "base.html" %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    ['name' => 'Отзывы']
    ] %}
    {% parent %}
{% endblock %}

{% block content %}
    <div class="b-wrapper">
        <div class="b-row">
            <div class="b-col b-col_small_8">
                <h1 class="b-heading">Отзывы</h1>

                {% for review in reviews %}
                    {% include "review/_review.html" with ['review' => review] %}
                {% endfor %}

                {{ pagination_render(pager)|safe }}
            </div>
            <div class="b-col b-col_small_4">
                <h2 class="b-heading">Оставить отзыв</h2>
                {{ form_render(form)|safe }}
            </div>
        </div>
    </div>
{% endblock %}
